html, body {
    height: 100%;
    margin: 0;
  }

#SPLASHBOD{
    background-image: linear-gradient(to bottom right, #3CB8E8, #3BCADA, #8ABFBE);
}

#splashWrapper{
    display: table;
    text-align: center;
    margin: auto;
}

#covid{
    margin-top: 45px;
    margin-bottom: 50px;
}

#virus{
    animation: floating 3s ease-in-out infinite;
}

#pregunta{
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    width: 500px;
    transform: skew(-25deg);
    margin: auto;
}

#question{
    background-color: #f3a500;
    height: 80px;
    width: 400px;
    transform: skew(25deg);
    margin: auto;
    padding-top: 15px;
}

#text1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    transform: skew(-25deg);
}


@keyframes floating{
    0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes floatingUp{
    0% {
		transform: translateY(15px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(15px);
	}
}

#button{
    border: 1px solid black;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 25px;
    position: relative;
    transition: 1s; overflow: hidden;
    background-color: transparent;
    background-color: black;
    color: white;
}

#button:hover{
    color: white;
    background-color: red;
}

#button:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    transform: translate(-100%) rotate(45deg);
    transition: 1s;
}

#button:hover:before{
    transform: translate(100%) rotate(45deg);
}

/* Quiz Section ---------------------- */

#quizBod{
    background-image: linear-gradient(to bottom right, #3CB8E8, #3BCADA, #8ABFBE);
    display: flex;
    align-items: center;
}

#quizWrapper{
 width: 1000px;
 height: 500px;
 margin: auto;
 display: flex;
 align-items: center;
 flex-direction: row;
}

#quizWrapper p{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 20px;
    width: 600px;
}

#qh1{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 3em;
}

.covid1{
    animation: floating 3s ease-in-out infinite;
}

.covid2{
    animation: floatingUp 3s ease-in-out infinite;
}

.covid3{
    animation: floating 3s ease-in-out infinite;
    animation-delay: 0.5s;
}

#startBtn{
    width: 200px;
    height: 30px;
    border-radius: 3px;
    background-color: lightgray;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    color: #f3a500;
    box-shadow: 5px 10px 8px #666666;
}

#quizContainer{
    width: 800px;
    height: 500px;
    border-radius: 3.5%;
    display: none;
    border: 1px solid white;
    margin: auto;
}

#questionCont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#avatar{
    height: 100px;
    width: 100px;
}

.avatarImg{
    background-image: url("./images/scientist.png");
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid white;
    background-size: cover;
    margin-top: 30px;
    margin-left: 25px;
    display: inline-block;
}

#questions{
    display: flex;
    align-items: center;
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 25px;
    margin-top: 15px;

}

#answerCont{
    width: 600px;
    margin: auto;
}

.option{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 22.3px;
    border: 1px solid white;
    width: 600px;
    margin-bottom: 20px;
    text-align: center;
    height: 50px;
    padding-top: 20px;
}

.option:hover{
    background-color: #00B3B3;
}

#Taiwan{
    display: none;
}

#Wuhan{
    display: none;
}

#Italy{
    display: none;
}

#Spain{
    display: none;
}

#recession{
    display: none;
}

#flattenCurve{
    display: none;
}

#opression{
    display: none;
}

#killVirus{
    display: none;
}

